# Created by .ignore support plugin (hsz.mobi)
### Erlang template
.eunit
deps
*.o
*.beam
*.plt
erl_crash.dump
ebin
rel/example_project
.concrete/DEV_MODE
.rebar
.idea/compiler.xml
.idea/copyright/
.idea/emacs.xml
.idea/misc.xml
.idea/modules.xml
.idea/workspace.xml
erl0.iml
out/
